.text_button{
    color: #EA0029;
    font-family: Lab Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}
.text_button:hover{
    color: #F53A31;
}
.text_button:click{
    color: #EA0029;
}